{% extends "mytemplate.html" %}
{% block title %}
My Resume
{% endblock %}
{% block head %}
    <style>
        body, .btn, html{
            background-color: #2B0072;
            color: #ACCCFF; 
        }

        .btn:hover, .offcanvas .btn:hover {
            color: #AE7DFF;
        }

        .nav-link, p a, #offcanvasmenu .vr, #offcanvasmenu .socials a:hover {
            color: #FF00A0;
        }

        #offcanvasmenu .btn, #offcanvasmenu a.nav-link{
            color: #2B0072;
        }

        #offcanvasmenu .btn:hover, #offcanvasmenu a:hover{
            color: #1771FF;
        }

        #offcanvasmenu, .offcanvas .btn{
            background-color: #ACCCFF;
            color: #2B0072; 
        }

        .btn.active, p a:hover, hr, .vr, .socials a:hover{
            color: #FFE200;
        }

        hr, vr {
            opacity: 100;
        }
    </style>
{% endblock %}
{% block content %}
<div class="container w3-container w3-animate-bottom ps-5">
    <div class="container headcontainer">
        <h1 class="display-1">Why hire me?</h1>
        <h2 class="display-6">L. Kevin Resendiz</h2>
            <p>I'm a hardworking individual who likes to learn new things and has experience with working individually or in teams.</p>
    </div>
    <hr>
    <div class="container bodycontainer ps-5">
        
            <h2 class="display-3">Education</h2>
                <p class="fs-3">Bachelor of Science in Psychology | August 2014 - May 2018 | University of Texas at Arlington</p>
                <ul>
                    <li>Major: Psychology</li>
                    <li>Minor: Psychology and Biology</li>
                </ul>
                <p class="fs-2">Continuing Education:</p>
                <p class="fs-3">Collin County Community College | January 2024 - Present</p>
                <ul>
                    <li>Major: Web Development</li>
                    <li>Relevant Courses:</li>
                    <ul>
                        <li>Beginning Web Programming</li>
                        <li>Intro to Computer Programming</li>
                        <li>Programming Fundamentals I - C++</li>
                        <li>Programming Fundamentals II - Java</li>
                        <li>Introduction to Scripting Languages - Python</li>
                        <li>Interface Design</li>
                        <li>Database Programming - SQL</li>
                    </ul>
                </ul>
        <hr>
        <h2 class="display-3">Work Experience</h2>
            <ul>
                <li>
                    <p class="fs-3">Lowe’s Distribution Center, Mount Vernon, TX – Team Member</p>
                </li>
                    <p class="fs-4">November 2018 – January 2019</p>
                <ul>
                    <li>Work as part of a team, as well as independently receiving and handling products in a safe manner</li>
                    <li>Work in a fast-paced environment to help meet goals and deadlines
                    </li>
                </ul>
                <li>
                    <p class="fs-3">Delivery and Moving Services Dos Naciones</p>
                </li>
                    <p class="fs-4">January 2019 - March 2020</p>
                <ul>
                    <li>Received and delivered packages across and outside of the country</li>
                    <li>Scheduled receiving dates, package information, inventory, and client information</li>
                    <li>Frequently answer phone calls and messages from clients to answer any questions or to schedule meetings</li>
                    <li>Personally drive to clients to pick up any packages or give estimates</li>
                </ul>
                <li>
                    <p class="fs-3">Amazon STX2/VTX2, Carrollton, TX</p>
                </li>
                    <p class="fs-4">May 2022 - January 2024 (Process Assistant)</p>
                    <ul>
                        <li>Lead teams of 20+ associates to maintain workflow and achieve daily production goals</li>
                        <li>Interacted with Area Managers to discuss daily goals and technical details</li>
                        <li>Provided resources for Day 1 associates as well as veteran associates, including training to comply with standard operating procedures</li>
                        <li>Worked on multiple site projects to further enhance productivity and promote safety</li>
                        <li>Trained associates in a variety of different critical roles for outbound, inbound, ICQA, and dispatch departments</li>
                        <li>Developed daily plans to increase building throughput</li>
                        <li>Helped open new sites by training employees in standard operating procedures for Amazon to help maintain a network standard</li>
                        <li>Document associates activities and time-off-task</li>
                    </ul>
                    <p class="fs-4">September 2020 - May 2022, January 2024 - Present (SSD Associate)</p>
                    <ul>
                        <li>Continue to work as part of a team in a fast-paced environment</li>
                        <li>Continue to help new associates with questions and training</li>
                        <li>Still provide feedback and input when management asks of it</li>
                    </ul>
            </ul>
    
        <hr>
        <h2 class="display-3">Skills</h2>
            <ul>
                <li>
                    <p class="fs-3">Computer Skills</p>
                    <ul>
                        <li>Certified in multiple Microsoft Office 2013 programs (Word, Excel, PowerPoint)</li>
                        <li>Experienced in multiple Microsoft Office 2016 programs</li>
                        <li>Experienced with photo and video editing</li>
                        <li>Experienced in keeping track of inventory and client information</li>
                        <li>Experienced in navigation using various weather and road maps to find destinations and scheduling departures</li>
                        <li>Used a variety of programs to find and trace back information on packages and inventory</li>
                        <li>Fundamental understanding of various programming languages, such as Python, C++, and Java</li>
                        <li>Fundamental understanding of HTML, CSS, and Bootstrap</li>
                    </ul>
                    <p class="fs-3">Communication</p>
                    <ul>
                        <li>Bilingual, fluent in both Spanish and English</li>
                        <li>Presented multiple research articles as well as lab findings</li>
                        <li>Instructed many participants in research labs on proper methods to be able to successfully participate</li>
                        <li>Proposed game plans to and coachings to Esports teammates</li>
                        <li>Inform drivers of any potential updates on station procedures</li>
                    </ul>
                    <p class="fs-3">Leadership</p>
                    <ul>
                        <li>Ran research labs for graduate students and professors, instructed volunteers on how to run participants through the present research</li>
                        <li>Coached the UTA Esports’ Smash Bros. for Wii U collegiate team</li>
                        <li>Scheduled and set various departure dates to a variety of destinations</li>
                        <li>Train new hires to be able to perform their roles</li>
                        <li>Lead teams and new sites in projects to be compliant with standard operating procedures</li>
                    </ul>
                </li>
            </ul>
        <hr>
    
    <h2 class="display-3">Other</h2>
    <ul>
        <li><p><a class="nav-link" href="{{ url_for('portfolio') }}">My Portfolio</a></p></li>
    </ul>
    {{ social | safe}}
</div>
{% endblock %}